{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
    <section>
        <h2>Latest Templates</h2>
        <p>There's nothing to see here yet!</p>
    </section>
</body
</html>
{{end}}