{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
    <section>
        <h3> List MicroServices
        <pre> </pre>
        <div class="btn-group">
            <a class="btn btn-sm btn-outline-secondary" href="/rck" role="button">RCK-API Status</a>
        </div>
        <div class="btn-group">
            <a class="btn btn-sm btn-outline-secondary" href="/rck-auth" role="button">RCK-Auth Status</a>
        </div>        
        </h3>
    </section>
</body
</html>
{{end}}